<!DOCTYPE html>

<html>

    <head>
        <title>Robot</title>

        <style>
            body {background-color: rgb(25,150,0);}
            h1   {color:red; font-family:verdana; font-size:300%;}
            h2   {color:black; font-family:verdana; font-size:200%;}
        </style>
    </head>

    <body>
        <div align="center">
            <h1>Live Feed</h1>
            <img src="{{ url_for('video_feed') }}">
        </div>

        <form method="post" action="/">
            <h2>Power</h2>
            <input type="submit" name="on" value="on">
            <input type="submit" name="off" value="off">
        </form>

        <br>

        <form method="post" action="/speed_slider">
            <div class="slidecontainer" id="slide_container1" align="center">
                <input type="range" id="speed" name="speed" min="0" max="99">
                <input type="submit" value="Set Speed">
            </div>
        </form>
    </body>

    <script>
        window.addEventListener('keydown', ((evt) => {
            const direction = evt.key.replace('Arrow', '');
            console.log(direction)

            // Create request
            const request = new XMLHttpRequest();
            const address = '/key_input';
            request.open("POST", address, true);

            // Send the proper header information
            request.setRequestHeader("Content-type", "application/json");

            // Send parameters
            const params = JSON.stringify({"keyVal": direction});
            request.send(params)
        }));
    </script>

</html>

